<div class="cont-unidad">
    <table> 
    <tr>
      <td valign="middle">
        <div class="tittle_cont"><img src="pics/icon.jpg" width="21" height="21" alt="" /> Agroqu&iacute;micos</div>
      </td>                  
    </tr>
    <tr>                	
      <td align="left" valign="top">
        <div class="text_cont">
            <p><img src="{$srcimg}" width="{$w}" height="{$h}" align="left" style="margin-right: 8px;" />Esta unidad de Negocio comprende la gestión de productos agroquímicos que buscan dar la mejor solución a los clientes de Prolesa. Se mantienen acuerdos con proveedores locales de primera línea, que aseguran la oferta y disponibilidad de los productos existentes en el mercado, permitiendo que Prolesa esté a la vanguardia de los avances tecnológicos dentro del rubro. La disponibilidad de productos está distribuida en todos los locales de Prolesa, y se tiene una línea de venta de productos especiales por medio de pedidos.</p>
         </div>
      </td>
    </tr>
    <tr>
    	<td align="right">
        	<a href="productos-y-servicios.php?id_unidad={$id_unidad}">
            	<img border="0" src="pics/btn-ver-productos.png" alt="Ver productos" width="101" height="30" />
            </a>
        </td>
    </tr>
    </table>
</div>