<div class="cont-unidad">
    <table> 
    <tr>
      <td valign="middle">
        <div class="tittle_cont"><img src="pics/icon.jpg" width="21" height="21" alt="" /> Fertilizantes</div>
      </td>                  
    </tr>
    <tr>                	
      <td align="left" valign="top">
        <div class="text_cont">
            <p><img src="{$srcimg}" width="{$w}" height="{$h}" align="left" style="margin-right: 8px;" />Esta unidad de negocio comprende la venta y entrega de todos los fertilizantes que necesita el cliente para su producción. Prolesa tiene un acuerdo con ISUSA, que le permite tener las mejores condiciones de mercado para sus clientes, en cuanto a precio, financiación y disponibilidad. Trabajamos garantizando seguridad, calidad y variedad en fórmulas de fertilizantes. Buscamos dar al cliente soluciones integrales, por lo que fomentamos la inclusión del uso de fertilizantes granel, aplicado, líquido y tecnología SAPI. En el año 2010, suministramos 60 mil toneladas de fertilizante.<br /><br />


Estratégicamente Prolesa pone a disposición exclusiva de sus clientes, planes de fertilizantes con características extraordinarias de precio, financiación y logística de entrega y/o aplicación. Buscamos así mejorar la ecuación con el costo y momento de aplicación vs momento de utilización del forraje producido. Ejemplos son el Plan Fosforita aplicada y Plan Solubles Aplicados.</p>
         </div>
      </td>
    </tr>
    <tr>
    	<td align="right">
        	<a href="productos-y-servicios.php?id_unidad={$id_unidad}">
            	<img border="0" src="pics/btn-ver-productos.png" alt="Ver productos" width="101" height="30" />
            </a>
        </td>
    </tr>
    </table>
</div>