<div class="cont-unidad">
    <table> 
    <tr>
      <td valign="middle">
        <div class="tittle_cont"><img src="pics/icon.jpg" width="21" height="21" alt="" /> Granos y concentrados</div>
      </td>                  
    </tr>
    <tr>                	
      <td align="left" valign="top">
        <div class="text_cont">
            <p><img src="{$srcimg}" width="{$w}" height="{$h}" align="left" style="margin-right: 8px;" />Esta unidad de negocio comprende la compra venta y distribución (Logística) de granos y concentrados para la nutrición animal directamente a los tambos de los clientes o a través de 8 centros de embolsado propios o contratados. Prolesa es el líder en el suministro de subproductos para la nutrición animal en el país, lo que la transforma en el principal importador del país, abasteciéndose principalmente de Argentina, Paraguay y EEUU. <br />
              <br />
              Nuestra empresa es la única que tiene la mas amplia variedad de productos –Proteicos, Energéticos e Intermedios - asegurando su venta través de toda la red de locales comerciales en forma permanente. Todo esto en las mejores condiciones de precio y financiación existentes en el mercado. Trabajamos únicamente con firmas de primera línea, nacionales o internacionales líderes en calidad.<br />
              <br />

Prolesa asegura la calidad de sus productos, por medio de un sistema propio de control de calidad. Disponemos de un sistema de muestreo estadístico y trazabilidad que nos permite conocer las calidades de toda la mercadería que entregamos. En el año 2010 suministramos
más de 168.000 toneladas de la más amplia variedad de Granos & Concentrados para la elección de nuestros clientes .<br />
<br />

Este volumen permite que Prolesa sea la única empresa privada que tiene un emprendimiento que consta de una planta de Granelización, con capacidad de almacenamiento de 5000 toneladas, que permite el suministro a granel para mejorar la eficiencia y los costos del manejo de la alimentación animal, así como la posibilidad del suministro de mezclas que se constituyen en una solución más para nuestros clientes.</p>
         </div>
      </td>
    </tr>
    <tr>
    	<td align="right">
        	<a href="productos-y-servicios.php?id_unidad={$id_unidad}">
            	<img border="0" src="pics/btn-ver-productos.png" alt="Ver productos" width="101" height="30" />
            </a>
        </td>
    </tr>
    </table>
</div>