<div class="cont-unidad">
    <table> 
    <tr>
      <td valign="middle">
        <div class="tittle_cont"><img src="pics/icon.jpg" width="21" height="21" alt="" /> Semillas</div>
      </td>                  
    </tr>
    <tr>                	
      <td align="left" valign="top">
        <div class="text_cont">
            <p><img src="{$srcimg}" width="{$w}" height="{$h}" align="left" style="margin-right: 8px;" />Esta unidad de negocio está dedicada a dar solucionar la necesidad de semillas que demandan los clientes de Prolesa, buscando estar a la vanguardia en tecnologías disponibles. Trabajamos con convenios con dos empresas de porte internacional, buscando brindar el mejor servicio, al mejor precio del mercado y asegurando la calidad de toda la semilla entregada. En este sentido Prolesa ha desarrollado un sistema estadístico de control de calidad del 100% de las semillas que comercializa. <br />
              <br />
              Toda la semilla vendida es entregada por Prolesa directo al establecimiento del cliente. Al igual que en el resto de las unidades de negocio un experimentado equipo de técnicos respalda todo el proceso dando tranquilidad a los clientes, en la elección de los materiales que mejor se adecuan a sus necesidades. En al Año 2010 suministramos más 5.000.000 Kg de semillas de invierno y praderas entregadas en su tambo.<br />
<br />

“Prolesa vende semillas todo el año”</p>
         </div>
      </td>
    </tr>
    <tr>
    	<td align="right">
        	<a href="productos-y-servicios.php?id_unidad={$id_unidad}">
            	<img border="0" src="pics/btn-ver-productos.png" alt="Ver productos" width="101" height="30" />
            </a>
        </td>
    </tr>
    </table>
</div>