<div class="cont-unidad">
    <table> 
    <tr>
      <td valign="middle">
        <div class="tittle_cont"><img src="pics/icon.jpg" width="21" height="21" alt="" /> Ventas especiales</div>
      </td>                  
    </tr>
    <tr>                	
      <td align="left" valign="top">
        <div class="text_cont">
            <p><img src="{$srcimg}" width="{$w}" height="{$h}" align="left" style="margin-right: 8px;" />Esta unidad de negocio está desarrollada como un complemento integral de todas las unidades de negocio de la empresa. Su objetivo es proveer a los clientes de Prolesa de todos los productos y servicios necesarios para la producción, el productor y su familia, y que habitualmente no se encuentran en el stock de Prolesa. <br />
            A través de esa unidad de negocio buscamos promover e impulsar la adopción de nuevas tecnologías, ampliación y recambio de equipamiento por medio de la inversión (tanques de frio, silos aéreos, Maquinas de ordeñe ,y generadores de energía eléctrica, etc) realizando planes de compra conjunta. <br />
            <br />
            Trabajamos poniendo especial atención a las consultas de nuestros clientes, buscando opciones, analizando ofertas y brindando una solución rápida y efectiva. Es una unidad de negocio dinámica y en constante crecimiento, que se ajusta continuamente a las necesidades de sus clientes.</p>
         </div>
      </td>
    </tr>
    <tr>
    	<td align="right">
        	<a href="productos-y-servicios.php?id_unidad={$id_unidad}">
            	<img border="0" src="pics/btn-ver-productos.png" alt="Ver productos" width="101" height="30" />
            </a>
        </td>
    </tr>
    </table>
</div>