{literal}
<script language="javascript">

function before_submit(){
	var errores = "";

	if(document.forms["frmDocumento"].elements["ID_CATEGORIA_DOCUMENTO"].value == ""){
		errores += "Debe seleccionar una Categoria de Documento.\n";
	}
	
	if(document.forms["frmDocumento"].elements["TITULO"].value == ""){
		errores += "Debe ingresar el Titulo.\n";
	}
	
	if(document.forms["frmDocumento"].elements["ARCHIVO_DOCUMENTO"].value == "" && document.forms["frmDocumento"].elements["ACC"].value == 'A'){
		errores += "Debe ingresar el Archivo.\n";
	}
	
	if(errores != ""){
		alert("No es posible ingresar el documento:\n"+errores);
	}
	else{
		document.forms["frmDocumento"].submit();
	}
}

</script>
{/literal}
<form action="" method="POST" enctype="multipart/form-data" name="frmDocumento" onsubmit="before_submit(); return false;">	
	{$NAVEGADOR}
	<table border="0" width="100%" cellpadding="1" cellspacing="0" valign="top">
		<tr>
			<td valign="top">
				<table border="0" width="50%" cellpadding="2" cellspacing="2">
                	<tr>
						<th align="left">Tipo de documento</th>
					</tr>
					<tr>	
						<td align="left">
							<select name="preferencial" id="preferencial" {$SOLO_LECTURA}>
								{html_options values=$pref_ids selected=$preferencial output=$pref_dsc}
							</select>
						</td>
					</tr>
					{if $SOLO_LECTURA == ''}
					<tr>
						<th align="left">Categor&iacute;a del documento</th>
					</tr>
					<tr>	
						<td align="left">
							<select name="ID_CATEGORIA_DOCUMENTO" id="ID_CATEGORIA_DOCUMENTO" {$SOLO_LECTURA}>
								{html_options values=$CATEGORIA_DOCUMENTO_ID selected=$ID_CATEGORIA_DOCUMENTO output=$CATEGORIA_DOCUMENTO_NOM}
							</select>
						</td>
					</tr>
					{else}
					<tr>
						<th align="left">Categor&iacute;a del documento</th>
					</tr>
					<tr>
						<td align="left">
							<input type="text" name="NOMBRE_CATEGORIA_DOCUMENTO" size="60" value="{$NOMBRE_CATEGORIA_DOCUMENTO}" readonly>
						</td>
					</tr>
					{/if}
					<tr>
						<th align="left">T&iacute;tulo</th>
					</tr>
					<tr>	
						<td align="left">
							<input type="text" name="TITULO" size="60" value="{$TITULO}" {$SOLO_LECTURA} maxlength="100">
						</td>
					</tr>
					<tr>
						<th align="left">Archivo</th>
					</tr>
					<tr>	
						<td align="left">
							{if $SOLO_LECTURA == ''}
							<input type="file" name="ARCHIVO_DOCUMENTO" size="60">
							{else}
							<img src="{$SRC_EXTENSION}" border="0">&nbsp;<a href="{$SRC_DOCUMENTO}">Descargar archivo</a>
							{/if}
						</td>
					</tr>
				</table>
			</td>
		<tr>
	</table>
	<input type="hidden" name="ERROR" value="{$ERROR}">
	<input type="hidden" name="ID_DOCUMENTO" value="{$ID_DOCUMENTO}">
	<input type="hidden" name="ACC" value="{$ACC}">
</form>
{literal}
<script language="javascript">
	if (document.forms["frmDocumento"].elements["ERROR"].value != "")
		alert(document.forms["frmDocumento"].elements["ERROR"].value);
</script>
{/literal}