{include file="menu-empresa.htm"}<br>

<table align="left" border="0" cellpadding="0" cellspacing="0" width="615">
    <tr>
        <td align="left" class="titulos_grande" valign="top">Dirección de la empresa</td>
    </tr>

    <tr>
        <td align="left" valign="top">&nbsp;</td>
    </tr>

    <tr>
        <td align="left" class="titulos_sub" valign="top">Directorio y Sindico:</td>
    </tr>

    <tr>
        <td align="left" valign="top">
            <br>

            <ul class="decimal_autoridades">
                <li><strong>Sr. Alvaro Quintans</strong> (Presidente)</li>

                <li><strong>Sr. Eduardo Veiga</strong> (Director)</li>

                <li><strong>Ing. Hermes Filippini</strong> (Director)</li>

                <li><strong>Dr. Carlos Torterolo</strong> (Sindico)<br>
                <br>
                <br></li>
            </ul>
        </td>
    </tr>

    <tr>
        <td align="left" class="titulos_sub" valign="top">Equipo Gerencial:</td>
    </tr>

    <tr>
        <td align="left" valign="top">
            <br>

            <ul class="decimal_autoridades">
                <li><strong>Cr. Daniel Urgoiti Berrutti</strong> (Gerente General)</li>

                <li><strong>Cr. Marcelo Bertola</strong> (Gerente de Administración y Finanzas)</li>

                <li><strong>Ing. Quim. Luis Cardelino</strong> (Gerente de Compras y Logística)</li>

                <li><strong>Ing. Agr. María Lourdes Pose</strong> (Gerente de Desarrollo de Negocios)<br>
                <br>
                <br></li>
            </ul>
        </td>
    </tr>

    <tr>
        <td align="left" valign="top">&nbsp;</td>
    </tr>

    <tr>
        <td align="left" class="titulos_sub" valign="top">Encargados de Unidades de Negocio, Logistica y Administración:</td>
    </tr>

    <tr>
        <td align="left" valign="top">
            <br>

            <ul class="decimal_autoridades">
                <li><strong>Sr. Néstor Martinez</strong> (Granos y Concentrados)</li>

                <li><strong>Sr. Andres Fleitas</strong> (Fertilizantes)</li>

                <li><strong>Sra. Karinna Cabrera</strong> (Ventas Especiales)</li>

                <li><strong>Ing. Agr. María Lourdes Pose</strong> (Semillas)</li>

                <li><strong>Sra. María de los Angeles Clavijo</strong> (Insumos y Agroquímicos)</li>

                <li><strong>Dr. Gastón Moroni</strong> (Nutrición Animal y Veterinaria)</li>

                <li><strong>Sr. Néstor Pérez</strong> (Infraestructura y Equipamiento)</li>

                <li><strong>Sr. Alejandro Aragone</strong> (Responsable de la Red Sucursales)</li>

                <li><strong>Sr. Alejandro Novo</strong> (Centro de Distribución y Logística)</li>

                <li><strong>Cra. Arley Navarro</strong> (Info. Financiera - Contable)</li>

                <li><strong>Sra. Rosario Martinez</strong> (Recursos Humanos)</li>

                <li>Sr. Mauricio Salgueiro (Encargado de Planta de Granelización)</li>
            </ul>
        </td>
    </tr>

    <tr>
        <td align="left" valign="top">&nbsp;</td>
    </tr>

    <tr>
        <td align="left" class="titulos_sub" valign="top">Técnicos Asesores</td>
    </tr>

    <tr>
        <td align="left" valign="top">
            <br>

            <ul class="decimal_autoridades">
                <li><strong>Ing. Agr. Soledad Etchegaray (Responsable de Desarrollo Técnico Comercial)</strong></li>
            </ul>
        </td>
    </tr>

    <tr>
        <td align="left" valign="top">&nbsp;</td>
    </tr>
</table>