{include file="menu-empresa.htm"}
<br />
<table width="615" border="0" align="left" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" valign="top" class="titulos_grande">Dirección de la empresa</td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top" class="titulos_sub">Directorio y Sindico:</td>
  </tr>
  <tr>
    <td align="left" valign="top"><br />
    <ul class="decimal_autoridades">
      <li><strong>Sr. Alvaro Quintans</strong> (Presidente)</li>
      <li><strong>Sr. Eduardo Veiga</strong> (Director)</li>
      <li><strong>Ing. Hermes Filippini</strong> (Director)</li>
      <li><strong>Dr. Carlos Torterolo</strong> (Sindico)<br />
        <br />
        <br />
      </li>
    </ul></td>
  </tr>
  <tr>
    <td align="left" valign="top" class="titulos_sub">Equipo Gerencial:</td>
  </tr>
  <tr>
    <td align="left" valign="top"><br />
    <ul class="decimal_autoridades">
      <li><strong>Cr. Daniel Urgoiti Berrutti</strong> (Gerente General)</li>
      <li><strong>Cr. Marcelo Bertola</strong> (Gerente de Administración y Finanzas)</li>
      <li><strong>Ing. Quim. Luis Cardelino</strong> (Gerente de Compras y Logística)</li>
      <li><strong>Ing. Agr. María Lourdes Pose</strong> (Asistente Gerencia General)<br />
        <br />
        <br />
      </li>
    </ul></td>
    </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top" class="titulos_sub">Encargados de Unidades de Negocio, Logistica y Administración: </td>
  </tr>
  <tr>
    <td align="left" valign="top"><br />
    <ul class="decimal_autoridades">
    <li><strong>Sr. Néstor Martinez</strong> (Granos y Concentrados)</li>
    <li><strong>Ing. Luis Cardelino</strong> (Fertilizantes)</li>
    <li><strong>Ing. Agr. María Lourdes Pose</strong> (Semillas)</li>
    <li><strong>Sra. María de los Angeles Clavijo</strong> (Insumos y Agroquímicos)</li>
	<li><strong>Dr. Gastón Moroni</strong> (Nutrición Animal y Veterinaria)</li>
	<li><strong>Sr. Néstor Pérez</strong> (Negocios Especiales)</li>
	<li><strong>Sr. Alejandro Aragone </strong>(Responsable de la Red Sucursales)</li>
	<li><strong>Sr. Alejandro Novo</strong> (Centro de Distribución y Logística)</li>
	<li><strong>Cra. Arley Navarro</strong> (Info. Financiera – Contable)</li>
    <li><strong>Sra. Rosario Martinez</strong> (Recursos Humanos)</li>
    </ul>
    </td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
    <tr>
    <td align="left" valign="top" class="titulos_sub">Técnicos Asesores Independiente</td>
  </tr>
  <tr>
    <td align="left" valign="top"><br />
    <ul class="decimal_autoridades">
    <span style="font-weight:bold;">Casa Central:</span>
    <li><strong>Ing. Emigdio Lazbal</strong></li>
    <li><strong>Ing. Juan José Macció</strong><br /><br />
    </li>
    <span style="font-weight:bold;">Sucursales:</span>
	<li><strong>Dr. Gonzalo Bono</strong></li>
	<li><strong>Ing. Silvio Caffarel</strong></li>
	<li><strong>Dr. Miguel Chiarlone</strong></li>
	<li><strong>Ing. Federico Coll</strong></li>
	<li><strong>Dr. Gaston Cuestas</strong></li>
	<li><strong>Dr. Pedro Dumestre</strong></li>
    <li><strong>Dra. Anabela Lanza</strong></li>
    <li><strong>Ing. Sebastian Mathó</strong></li>
    <li><strong>Dr. Walter Pandolfi</strong></li>
    <li><strong>Ing. Roberto Pereira</strong></li>
    <li><strong>Dra. Sandra Reberon</strong></li>
    <li><strong>Dr. Gustavo Rivas</strong></li>
    <li><strong>Ing. Sergio Vaz</strong></li>
    </ul>
    </td>
  </tr>
    <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>


</table>
