<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" media="screen" href="css/base.css" />
    <script language="javascript" src="Scripts/tinybox.js"></script>
</head>
<body>
    <div id="tinyboxExito">
    <table cellpadding="5" cellspacing="3" width="100%">
        <tr>
            <td align="left"><p>{$mensaje}</p></td>
        </tr>
     </table>   
    </div>
</body>
</html>
