{include file="menu-empresa.htm"}
<br />
<table width="615" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="400" align="left" valign="top" bgcolor="#FFFFFF"><table width="615" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="615" height="400" align="left" valign="top"><table width="615" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td colspan="2" class="titulos_grande">Empresa</td>
          </tr>
          <tr>
            <td colspan="2">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="2" align="left" valign="top">Productores de Leche S.A. (<span class="textos_azules">Prolesa</span>), es una empresa privada que pertenece 100% a CONAPROLE. 
              <br />
              <br />
              Desde 1994, se dedica a proveer la mas amplia variedad de insumos necesarios para la producción a sus clientes remitentes de leche a CONAPROLE. 
La empresa es dirigida por un Directorio, compuesto por tres miembros, un síndico y el Gerente General. Los Directores y el Sindico son designados por el Directorio de Conaprole.
              <br />
              <br />
              <span class="textos_azules">Prolesa</span> es la empresa privada proveedora de insumos más grande del país, tanto en volumen como en variedad, gestionando por ello volúmenes muy relevantes en la mayoría de sus 8 Unidades de Negocios.
              <br />
              <br />
              Dispone de una red de 22 locales comerciales distribuidos estratégicamente en la cuenca lechera del Uruguay, un Centro de Distribución y Logística, una Planta de almacenamiento y embolsado en Santa Lucia y su Oficinas Centrales en Montevideo. 
              <br />
              <br />
              Actualmente, la empresa tiene un grupo humano conformado por 120 personas fuertemente compenetrados con su rol de servicio al cliente, lo que significa una de las fortalezas principales de su gestión. 
              <br />
              <br />
              De un tiempo a esta parte, la empresa es protagonista de un proceso continuo de mejora en todos los aspectos de su gestión con el objetivo de transformarse en el suministrador de preferencia para sus clientes tanto por las condiciones económicas y financieras ofrecidas como en la calidad de su servicio. <br />
              <br />
              <br />
              <span class="titulos_sub">Prolesa está organizada en 8 Unidades de Negocio:<br />
              </span></td>
          </tr>
          <tr>
            <td align="left"><img src="pics/empresa_img.jpg" width="295" height="158" alt="" class="borde_img" /></td>
            <td width="50%" align="left" valign="middle" class="titulos_paglinks">
            <ul class="decimal_empresa">
              <li>Granos y Concentrados</li>
              <li>Fertilizantes</li>
              <li>Semillas</li>
              <li>Agroquímicos</li>
              <li>Insumos</li>
              <li>Veterinaria</li>
				<li>Nutrición Animal</li>
              <li>Negocios Especiales</li>
            </ul>
            </td>
          </tr>
          <tr>
            <td colspan="2">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>
