<tr>
    <td align="left" valign="top" class="titulos_grande">&Aacute;rea de Clientes</td>
</tr>
<tr>
    <td width="630px" align="center">
        <table>
            <tr>
                <th align="left" valign="top" width="422px">Bienvenido, {$nombre_usuario}</th>
                <td align="right" valign="top">
                    <a href="cambiar-clave-cliente.php" style="color: #669D00; font-weight: bold;">Cambiar contraseña</a>
                </td>
                <td align="right" valign="top">
                    <a href="cerrar-sesion-cliente.php" style="color: #669D00; font-weight: bold;">Cerrar sesi&oacute;n</a>
                </td>
            </tr>
        </table>
    </td>
</tr>