<ul id="menu_empresa" style="padding-bottom:15px;">
    <li>{if $subseccion_feria == 'home'}<div class="menu-empresa-actual">LA FERIA</div>{else}<a title="Detalles del evento" href="feria-home.php">LA FERIA</a>{/if}</li>
    <li>{if $subseccion_feria == 'agenda'}<div class="menu-empresa-actual">Agenda</div>{else}<a title="Agenda de actividades" href="feria-agenda.php">Agenda</a>{/if}</li>
	<li>{if $subseccion_feria == 'faqs'}<div class="menu-empresa-actual">Preguntas frecuentes</div>{else}<a title="Preguntas más frecuentes" href="feria-faqs.php">Preguntas frecuentes</a>{/if}</li>
	<li>{if $subseccion_feria == 'videos'}<div class="menu-empresa-actual">Galería de Video</div>{else}<a title="Galería de videos" href="feria-videos.php">Galería de Video</a>{/if}</li>
	<li>{if $subseccion_feria == 'galeria'}<div class="menu-empresa-actual">Galería de Imagen</div>{else}<a title="Galería de fotos" href="feria-galeria.php">Galería de Imagen</a>{/if}</li>            
	<br />
	<br />    
</ul>
