<ul id="menu_empresa" style="padding-bottom:15px;">
    <li>{if $subseccion_empresa == 'empresa'}<div class="menu-empresa-actual">Empresa</div>{else}<a href="empresa.php">Empresa</a>{/if}</li>
    <li>{if $subseccion_empresa == 'mision'}<div class="menu-empresa-actual">Misi&oacute;n y valores</div>{else}<a href="mision.php">Misi&oacute;n y valores</a>{/if}</li>
    <li>{if $subseccion_empresa == 'autoridades'}<div class="menu-empresa-actual">Dir. de la empresa</div>{else}<a href="autoridades.php">Dir. de la empresa</a>{/if}</li>
    <li>{if $subseccion_empresa == 'unidades-negocio'}<div class="menu-empresa-actual">Unidades de Negocio</div>{else}<a href="unidades-negocio.php">Unidades de Negocio</a>{/if}
    <li>{if $subseccion_empresa == 'politicas'}<div class="menu-empresa-actual">Pol&iacute;ticas de calidad</div>
    {else}<a href="politicas-calidad.php">Pol&iacute;ticas de calidad</a>{/if}</li>
      <br />
      <br />
    </li>
</ul>
