{include file="menu-empresa.htm"}
<br />
<table width="615" border="0" align="left" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" valign="top" class="titulos_grande">Misión y valores</td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top" class="titulos_sub">Para qué existimos:</td>
  </tr>
  <tr>
    <td align="left" valign="top"><br />
    Nuestra misión es suministrar insumos, que aporten valor y tecnología a los productores de CONAPROLE, optimizando la relación precio-calidad y combinando las mejores condiciones de venta, logística y distribución.<br />
    <br />
    <br /></td>
  </tr>
  <tr>
    <td align="left" valign="top" class="titulos_sub">Hacia dónde vamos:</td>
  </tr>
  <tr>
    <td align="left" valign="top"><br />
      Nuestra visión es ser la empresa líder en abastecimiento de insumos y servicios, con una gestión eficiente y dinámica que se anticipe a las necesidades del productor. 
    Ser referente estratégico en la gestión de costos de los productores de CONAPROLE y en la promoción de las buenas prácticas medioambientales.<br /></td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top" class="titulos_sub">Nuestros Valores:</td>
  </tr>
  <tr>
    <td align="left" valign="top"><br />

    <ul class="decimal_autoridades">
      <li>Servicio al productor en el centro de la gestión</li>
      <li>Integridad y transparencia</li>
      <li>Respeto por las personas</li>
      <li>Trabajo en equipo</li>
      <li>Dinamismo y foco en la innovación</li>
      <li>Orientación al mercado</li>
      <li>Profesionalismo</li>
    </ul></td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
</table>
