{include file="menu-empresa.htm"}
<br />
<table width="615" border="0" align="left" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" valign="top" class="titulos_grande">Nuestras Políticas de Calidad</td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top" class="titulos_sub">Compromiso con el Cliente (Productor):</td>
  </tr>
  <tr>
    <td align="left" valign="top"><br />
    Asegurar el abastecimiento de los insumos en las mejores condiciones de precio y financiación ofreciendo una calidad de servicio que satisfaga las necesidades del cliente. <br />
    <br /></td>
  </tr>
  <tr>
    <td align="left" valign="top" class="titulos_sub">Compromiso con el Accionista (Conaprole): </td>
  </tr>
  <tr>
    <td align="left" valign="top"><br />
      Ser un medio de implementación de sus planes estratégicos, manteniendo una gestión eficiente que satisfaga los intereses de los productores y fortalezca los lazos cooperativos.<br /></td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top" class="titulos_sub">Compromiso con la Empresa: </td>
  </tr>
  <tr>
    <td align="left" valign="top"><br />

      Mantener un sistema de mejora continua que transforme a <span class ="textos_azules">Prolesa</span> en una empresa innovadora, ágil, a la vanguardia de nuevas tecnologías, gestionada mediante la fijación de objetivos y alineando el desarrollo y condiciones de trabajo de sus empleados con los objetivos de la empresa.<br /></td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top" class="titulos_sub">Compromiso con los Proveedores: </td>
  </tr>
  <tr>
    <td align="left" valign="top"><br />
    Mantener un vínculo basado en la cooperación, confianza, beneficio mutuo y transparencia con la finalidad de asegurar las mejores opciones de abastecimiento a través de la mayor competencia posible e igualdad de oportunidades.<br />
    <br /></td>
  </tr>
  <tr>
    <td align="left" valign="top" class="titulos_sub">Compromiso con la Sociedad: </td>
  </tr>
  <tr>
    <td align="left" valign="top"><br />
    Aportar valor a la comunidad a través de una política de excelencia en responsabilidad social y una cuidadosa gestión del medio ambiente.</td>
  </tr>
</table>
