<div id="barra">
    <img src="pics/tit-pronostico.png" alt="Pronóstico del tiempo" class="img_barra" />
    <div id="TT_xPMzsu9Z7AaB9o6Iza"><h2><a href="http://www.tutiempo.net/tiempo/Uruguay/UY.html">El Tiempo en Uruguay</a></h2><a href="http://www.tutiempo.net/tiempo/Montevideo_Melilla/SUAA.htm">El tiempo en Montevideo - Melilla</a></div>
<script type="text/javascript" src="http://www.tutiempo.net/TTapi/int/xPMzsu9Z7AaB9o6Iza"></script>
    <img src="pics/banner_img.jpg" alt="" width="223" height="191" class="img_barra" />
</div>