<br />
<table width="615" border="0" align="left" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" valign="top" class="titulos_grande">Sucursales</td>
  </tr>
</table>
<p>&nbsp;</p>
<table width="615" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="left" valign="top"><img src="pics/mapa.jpg" width="624" height="615" border="0" usemap="#sucursales"  /></td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
</table>

<map name="sucursales" id="sucursales">
	<area shape="circle" coords="70,396,8" alt="Mercedes" title="Mercedes" target="_self"
    	href="javascript:TINY.box.show({literal}{url:'sucursal-detalle.php?id=7'}{/literal});" />
        
  	<area shape="circle" title="Rivera" coords="337,110,9" target="_self" alt="Rivera"
  		href="javascript:TINY.box.show({literal}{url:'sucursal-detalle.php?id=20'}{/literal});" />
        
  	<area shape="circle" coords="72,274,9" title="Paysand&uacute;" target="_self" alt="Paysand&uacute;" 
    	href="javascript:TINY.box.show({literal}{url:'sucursal-detalle.php?id=19'}{/literal});" />
        
  	<area shape="circle" coords="192,426,9" alt="Trinidad" title="Trinidad" target="_self"
    	href="javascript:TINY.box.show({literal}{url:'sucursal-detalle.php?id=21'}{/literal});" />
    
    <area shape="circle" coords="272,478,8" alt="Florida" title="Florida" 
    	href="javascript:TINY.box.show({literal}{url:'sucursal-detalle.php?id=4'}{/literal});" />
    
    <area shape="circle" coords="54,426,8" alt="Dolores" title="Dolores" target="_self"
    	href="javascript:TINY.box.show({literal}{url:'sucursal-detalle.php?id=22'}{/literal});" />
    
    <area shape="circle" coords="119,519,8" alt="Tarariras" title="Tarariras" target="_self"
    	href="javascript:TINY.box.show({literal}{url:'sucursal-detalle.php?id=17'}{/literal});" />
    
    <area shape="circle" coords="135,470,9" alt="Cardona" title="Cardona" target="_self"
    	href="javascript:TINY.box.show({literal}{url:'sucursal-detalle.php?id=18'}{/literal});" />
    
    <area shape="circle" coords="398,566,8" alt="San Carlos" title="San Carlos" target="_self" 
	    href="javascript:TINY.box.show({literal}{url:'sucursal-detalle.php?id=12'}{/literal});" />
    
    <area shape="circle" coords="273,508,7" alt="Mendoza" title="Mendoza" 
    	href="javascript:TINY.box.show({literal}{url:'sucursal-detalle.php?id=15'}{/literal});" />
    
    <area shape="circle" coords="254,453,8" alt="Sarand&iacute; Grande" title="Sarand&iacute; Grande" target="_self"
	    href="javascript:TINY.box.show({literal}{url:'sucursal-detalle.php?id=6'}{/literal});" />
    
    <area shape="circle" coords="292,523,8" title="San Ram&oacute;n" alt="San Ram&oacute;n" 
    	href="javascript:TINY.box.show({literal}{url:'sucursal-detalle.php?id=5'}{/literal});" />
    
    <area shape="circle" coords="209,524,8" alt="San Jos&eacute;" title="San Jos&eacute;" target="_self"
    	href="javascript:TINY.box.show({literal}{url:'sucursal-detalle.php?id=3'}{/literal});" />
         
    <area shape="circle" coords="289,571,8" alt="Pando" title="Pando" target="_self"
    	href="javascript:TINY.box.show({literal}{url:'sucursal-detalle.php?id=11'}{/literal});" />
    
    <area shape="circle" coords="266,553,7" alt="Canelones" title="Canelones" target="_self"
    	href="javascript:TINY.box.show({literal}{url:'sucursal-detalle.php?id=2'}{/literal});" />
        
    <area shape="circle" coords="253,486,8" alt="25 de Mayo" title="25 de Mayo" 
    	href="javascript:TINY.box.show({literal}{url:'sucursal-detalle.php?id=13'}{/literal});" />
    
    <area shape="circle" coords="182,532,7" alt="Ecilda Paullier" title="Ecilda Paullier" target="_self"
    	href="javascript:TINY.box.show({literal}{url:'sucursal-detalle.php?id=9'}{/literal});" />
        
    <area shape="circle" coords="262,589,8" alt="Montevideo" title="Montevideo" target="_self"
    	href="javascript:TINY.box.show({literal}{url:'sucursal-detalle.php?id=1'}{/literal});" />
        
    <area shape="circle" coords="251,509,7" alt="Cardal" title="Cardal" target="_self"
    	href="javascript:TINY.box.show({literal}{url:'sucursal-detalle.php?id=8'}{/literal});" />
        
    <area shape="circle" coords="248,546,7" alt="Santa Luc&iacute;a" title="Santa Luc&iacute;a" target="_self" 
    	href="javascript:TINY.box.show({literal}{url:'sucursal-detalle.php?id=10'}{/literal});" />
        
    <area shape="circle" coords="219,561,7" alt="Libertad" title="Libertad" target="_self" 
    	href="javascript:TINY.box.show({literal}{url:'sucursal-detalle.php?id=16'}{/literal});" />
        
    <area shape="circle" coords="229,533,7" alt="Villa Rodr&iacute;guez" title="Villa Rodr&iacute;guez" target="_self" 
    	href="javascript:TINY.box.show({literal}{url:'sucursal-detalle.php?id=14'}{/literal});" />
</map>
