<table width="500" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="500" height="200" align="left" valign="top"><table width="500" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td class= "titulo_sucursales" width="500" height="40" align="left" valign="middle">SUCURSAL : {$nombre}</td>
      </tr>
      <tr>
        <td width="500" align="left" valign="top" bgcolor="#689e00"><table width="500" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="180" align="center" valign="middle" bgcolor="#FFFFFF">&nbsp;</td>
            <td width="320" bgcolor="#FFFFFF">&nbsp;</td>
          </tr>
          <tr>
            <td align="center" valign="middle" bgcolor="#689E00">&nbsp;</td>
            <td width="320" bgcolor="#689E00">&nbsp;</td>
          </tr>
          <tr>
            <td width="180" rowspan="11" align="center" valign="top"><img src="{$src_imagen}" width="{$w}" height="{$h}" align="left" style="margin-left: 20px;" /></td>
            <td width="320" align="left" valign="middle" class="subtitulos_sucursales">Tel&eacute;fono :</td>
          </tr>
          <tr>
            <td width="320" align="left" valign="middle" class="subtitulos_sucursales2">{$telefonos}</td>
          </tr>
          <tr>
            <td width="320" height="15" align="left" valign="middle"></td>
          </tr>
          <tr>
            <td width="320" align="left" valign="middle" class="subtitulos_sucursales">Direcci&oacute;n :</td>
          </tr>
          <tr>
            <td width="320" align="left" valign="middle" class="subtitulos_sucursales2">{$direccion}</td>
          </tr>
          <tr>
            <td width="320" height="15" align="left" valign="middle"></td>
          </tr>
          <tr>
            <td width="320" align="left" valign="middle" class="subtitulos_sucursales">Encargado / Responsable :</td>
          </tr>
          <tr>
            <td width="320" align="left" valign="middle" class="subtitulos_sucursales2">{$encargados}</td>
          </tr>
          <tr>
            <td height="15" align="left" valign="middle"></td>
          </tr>
          <tr>
            <td align="left" valign="middle" class="subtitulos_sucursales">Email :</td>
          </tr>
          <tr>
            <td align="left" valign="middle"><a class="mail_sucursales" href="mailto:{$email}">{$email}</a>
            </td>
          </tr>
          <tr>
            <td align="center" valign="middle">&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>
