{include file="menu-empresa.htm"}
<br />
<table width="615" border="0" cellspacing="0" cellpadding="0">
<tr>
  <td height="400" align="left" valign="top" bgcolor="#FFFFFF"><table width="615" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="615" height="400" align="left" valign="top"><table width="615" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="titulos_grande">Unidades de negocio</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td align="left" valign="top" style="padding-bottom: 15px">
          	<!-- Granos y Concentrados -->
          	<div class="cont">
              <table> 
                <tr>
                  <td valign="middle">
                    <div class="tittle_sub"><img src="pics/icon.jpg" width="21" height="21" alt="" /> Granos y Concentrados</div>
                  </td>                  
                </tr>
                <tr>                	
                  <td height="145px" align="left" valign="top">
                  	<div class="text_cont">
                    	<p><img src="pics/unidades-negocio/granos-y-concentrados.prv.jpg" align="left" style="margin-right: 8px;" />Esta unidad de negocio comprende la compra venta y distribución (Logística) de granos y concentrados para la nutrición animal directamente a los tambos de los clientes o a través de 8 centros de embolsado propios o contratados.</p>
                     </div>
                  </td>
                </tr>
                <tr>
                	<td align="right"><a href="javascript:;" onclick="TINY.box.show({literal}{url:'unidad-negocio.php?unidad=granos-y-concentrados'}{/literal})" class="leer-mas">+ Leer m&aacute;s</a></td>
                </tr>
              </table>
            </div>
            
            <!-- Fertilizantes -->
            <div class="cont">
              <table> 
                <tr>
            	  <td valign="middle">
                  	<div class="tittle_sub"><img src="pics/icon.jpg" width="21" height="21" alt="" /> Fertilizantes</div>
                  </td>
                <tr>  
                  <td height="145px" valign="top">
                  	<div class="text_cont">
                    	<p><img src="pics/unidades-negocio/fertilizantes.prv.jpg" align="left" style="margin-right: 8px;" />Esta unidad de negocio comprende la venta y entrega de todos los fertilizantes que necesita el cliente para su producción. Prolesa tiene un acuerdo con ISUSA, que le permite tener las mejores condiciones de mercado para sus clientes, en cuanto a precio, financiación y disponibilidad.</p>
                    </div>
                  </td>
                 </tr>
                 <tr>
                	<td align="right"><a href="javascript:;" onclick="TINY.box.show({literal}{url:'unidad-negocio.php?unidad=fertilizantes'}{/literal})" class="leer-mas">+ Leer m&aacute;s</a></td>
                </tr>
               </table>
             </div>     
             
             <!-- Semillas -->
             <div class="cont">
              <table> 
                <tr>
            	  <td valign="middle">
                  	<div class="tittle_sub"><img src="pics/icon.jpg" width="21" height="21" alt="" /> Semillas</div>
                  </td>
                <tr>  
                  <td height="145px" valign="top">
                  	<div class="text_cont">
                    	<p><img src="pics/unidades-negocio/semillas.prv.jpg" align="left" style="margin-right: 8px;" />Esta unidad de negocio está dedicada a dar solucionar la necesidad de semillas que demandan los clientes de Prolesa, buscando estar a la vanguardia en tecnologías disponibles.</p>
                    </div>
                  </td>
                 </tr>
                 <tr>
                	<td align="right"><a href="javascript:;" onclick="TINY.box.show({literal}{url:'unidad-negocio.php?unidad=semillas'}{/literal})" class="leer-mas">+ Leer m&aacute;s</a></td>
                </tr>
               </table>
             </div>
             
             <!-- Agroquimicos -->
             <div class="cont">
              <table> 
                <tr>
            	  <td valign="middle">
                  	<div class="tittle_sub"><img src="pics/icon.jpg" width="21" height="21" alt="" /> Agroqu&iacute;micos</div>
                  </td>
                <tr>  
                  <td height="145px" valign="top">
                  	<div class="text_cont">
                    	<p><img src="pics/unidades-negocio/agroquimicos.prv.jpg" align="left" style="margin-right: 8px;" />Esta unidad de Negocio comprende la gestión de productos agroquímicos que buscan dar la mejor solución a los clientes de Prolesa. Se mantienen acuerdos con proveedores locales de primera línea, que aseguran la oferta y disponibilidad de los productos existentes en el mercado</p>
                    </div>
                  </td>
                 </tr>
                 <tr>
                	<td align="right"><a href="javascript:;" onclick="TINY.box.show({literal}{url:'unidad-negocio.php?unidad=agroquimicos'}{/literal})" class="leer-mas">+ Leer m&aacute;s</a></td>
                </tr>
               </table>
             </div>
             
             <!-- Insumos -->
             <div class="cont">
              <table> 
                <tr>
            	  <td valign="middle">
                  	<div class="tittle_sub"><img src="pics/icon.jpg" width="21" height="21" alt="" /> Insumos</div>
                  </td>
                <tr>  
                  <td height="145px" valign="top">
                  	<div class="text_cont">
                    	<p><img src="pics/unidades-negocio/insumos.prv.jpg" align="left" style="margin-right: 8px;" />Esta unidad de negocios ofrece a los clientes una amplia variedad de materiales necesarios para su producción, incluyendo: Ferretería, alambrados, electricidad, neumáticos, insumos para ordeñadoras, jabones y desinfectantes, vestimenta, accesorios para agua, lubricantes y material...</p>
                    </div>
                  </td>
                 </tr>
                 <tr>
                	<td align="right"><a href="javascript:;" onclick="TINY.box.show({literal}{url:'unidad-negocio.php?unidad=insumos'}{/literal})" class="leer-mas">+ Leer m&aacute;s</a></td>
                 </tr>
               </table>
             </div>
             
             <!-- Ventas especiales -->
             <div class="cont">
              <table> 
                <tr>
            	  <td valign="middle">
                  	<div class="tittle_sub"><img src="pics/icon.jpg" width="21" height="21" alt="" /> Ventas especiales</div>
                  </td>
                <tr>  
                  <td height="145px" valign="top">
                  	<div class="text_cont">
                    	<p><img src="pics/unidades-negocio/ventas-especiales.prv.jpg" align="left" style="margin-right: 8px;" />Esta unidad de negocio está desarrollada como un complemento integral de todas las unidades de negocio de la empresa. Su objetivo es proveer a los clientes de Prolesa de todos los productos y servicios necesarios para la producción, el productor y su familia, y que habitualmente no se encuentran en el stock...</p>
                    </div>
                  </td>
                 </tr>
                 <tr>
                	<td align="right"><a href="javascript:;" onclick="TINY.box.show({literal}{url:'unidad-negocio.php?unidad=ventas-especiales'}{/literal})" class="leer-mas">+ Leer m&aacute;s</a></td>
                 </tr>
               </table>
             </div>
             
             <!-- Veterinaria -->
             <div class="cont">
              <table> 
                <tr>
            	  <td valign="middle">
                  	<div class="tittle_sub"><img src="pics/icon.jpg" width="21" height="21" alt="" /> Veterinaria</div>
                  </td>
                <tr>  
                  <td height="145px" valign="top">
                  	<div class="text_cont">
                    	<img src="pics/unidades-negocio/veterinaria.prv.jpg" align="left" style="margin-right: 8px;" />Esta unidad de negocios comprende la comercialización de los insumos veterinarios que el cliente necesita, incluimos: antibióticos, antiparasitarios, antiinflamatorios, hormonales, inoculantes, selladores, y vacunas entre otros.
                    </div>
                  </td>
                 </tr>
                 <tr>
                	<td align="right"><a href="javascript:;" onclick="TINY.box.show({literal}{url:'unidad-negocio.php?unidad=veterinaria'}{/literal})" class="leer-mas">+ Leer m&aacute;s</a></td>
                 </tr>
               </table>
             </div>
             
             <!-- Nutricion Animal -->
             <div class="cont">
              <table> 
                <tr>
            	  <td valign="middle">
                  	<div class="tittle_sub"><img src="pics/icon.jpg" width="21" height="21" alt="" /> Nutrición Animal</div>
                  </td>
                <tr>  
                  <td height="145px" valign="top">
                  	<div class="text_cont">
                    	<img src="pics/unidades-negocio/nutricion-animal.prv.jpg" align="left" style="margin-right: 8px;" />La unidad de Nutrición Animal de Prolesa ofrece una amplia variedad de productos nutricionales de alta calidad. La oferta cubre las necesidades productivas de cada etapa de vida del rodeo lechero: cría, recría, preparto, postparto y lactancia.</div>
                  </td>
                 </tr>
                 <tr>
                	<td align="right"><a href="javascript:;" onclick="TINY.box.show({literal}{url:'unidad-negocio.php?unidad=nutricion-animal'}{/literal})" class="leer-mas">+ Leer m&aacute;s</a></td>
                 </tr>
               </table>
             </div>
          </td>
        </tr>
        </table></td>
    </tr>
  </table></td>
</tr>
</table>